h1 {
  font-family: 'Dancing Script', cursive; /* if all headers use Helvetica */
  text_align:center;
  color:light blue;
}
h2 {color: light blue;
text-align: center;}
body 
{
  color: #54a6bc;
  text-decoration: none;
  transition: color 0.3s ease;
  background-color:#f9f4f4;
}
.fauteuil_indiana{width: 300px;
	border-radius: 10px;
height: 200px;
padding:25px;}
  a {
  color: light blue;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: grey;
  text-decoration: none;
}
div#head{
	padding: 30px;
	box-shadow: 2px 2px 3px #eae3e3;
	border-radius: 4px;
	background:#f4efef ;
}
div#div1{
	padding: 30px;
	box-shadow: 2px 2px 3px #dae5ed;
	border-radius: 4px;
	background:#f4efef ;
}
.box-grey{
	padding: 50px;
	box-shadow: 2px 2px 3px #dae5ed;
	border-radius: 4px;
	background:#f4efef ;
	border-image: 200px;
	text-align: center;
	font-size: 25px;
}
.list-align{
text-align: center;
width: 20px;

}
.list-align:hover{
color: blue;
opacity: 1;


}
.bouton-shape{
	border: 1px solid #a8d3f3;
	margin: 10px;
	border-radius: 3px;
	background-color: #a8d3f3;
	color: #454dca;
	font-size: : 20px;
}
.button-blue{
	padding-top: 20px;
}
ul{
	color: white;
	
}
.container{
	width: 1000px;
	margin: 0px auto;
}
@media (max-width: 960px) {
.container {width: 500px}
}
@media (max-width: 7200px) {
.container {width: 400px}
}
@media (max-width: 540px) {
.container {width: 300px}
}
@media (max-width: 360px) {
.container {width: 100px;}
.buttin-blue {padding:10px 10px;}
}
#map {
	width: 600px;
	height: 300px;
	margin: 0px auto;
}